<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam file="$(find bot_controller)/config/joint_states.yaml" command="load"/>

        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen"  
        args="
        joint_state_controller 
        bot_velocity_controller "/>


        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
            <param name="publish_frequency" type="double" value="30.0"/>
        </node>

        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
            <param name="default_topic" value="/bot_velocity_controller/cmd_vel"/> 
        </node>
</launch>