<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find bot_description)/launch/spawn_bot.launch"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="rviz" pkg="rviz" type="rviz" args=""/>
    <include file="$(find tractor_localization)/launch/localization.launch"/>
    <include file="$(find bot_navigation)/launch/start_navigation_with_gps_ekf.launch"/>
    <include file="$(find outdoor_waypoint_nav)/launch/include/send_goals_sim.launch"/>
</launch>