<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find bot_description)/launch/spawn_bot.launch"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="rviz" pkg="rviz" type="rviz" args=""/>
    <node name="gps_to_odom" pkg="gps_common" type="utm_odometry_node"/>
</launch>