<launch>
    <include file="$(find test_description)/launch/spawn_urdf_test.launch">
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="z" value="0.2"/>
        <arg name="urdf_robot_file" value="$(find test_description)/urdf/robot.urdf"/>
        <arg name="robot_name" value="/bot"/>
    </include>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="rviz" pkg="rviz" type="rviz" args=""/>

    <!-- load the controllers -->
    <rosparam file="$(find test_description)/config/config.yaml" command="load"/>
    <node name="controller_spawner" pkg ="controller_manager" type="spawner" ns="/simple_model" output="screen" args="base_to_third_joint_position_controller base_to_second_joint_position_controller joint_state_controller"/>
    <!-- converts joint states to TF transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/simple_model/joint_states" />
    </node>
</launch>