<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find test_description)/launch/spawn_urdf_test.launch">
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="z" value="0.2"/>
        <arg name="urdf_robot_file" value="$(find test_description)/urdf/bot_real_test.urdf"/>
        <arg name="robot_name" value="/bot"/>
    </include>

</launch>